body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: #ffffff;
    font-family: 'Arial', sans-serif;

}

.music-player {
    margin-top: 100px;
    background: white;
    padding: 20px;
    justify-self: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.controls button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
.volume-control {
    margin-top: 10px;
}

.volume-control input {
    width: 100%;
}
.progress-container {
    margin-top: 10px;
}

.progress-container input {
    width: 100%;
}




.music-player {
    background: #1e1e1e;
    border-radius: 10px;
    padding: 50px;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.cover-art img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.track-info {
    margin: 15px 0;
}

.track-title {
    font-size: 1.5em;
    margin: 0;
}

.artist-name {
    color: #0718fa;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.control-btn {
    background:none;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.2s;
}

.control-btn:hover {
    transform: scale(1.2);
}

.progress-container {
    margin-top: 10px;
}

.progress-bar {
    width: 100%;
    cursor: pointer;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #333;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ff4081;
    border-radius: 50%;
}





/* **********************************************  */

#img{
    position: fixed;
    width: 100%;
    height:100vh;
    z-index: -1;
}